.env
/venv
/chat-assistant-backend/app/__pycache__
/chat-assistant-backend/app/routes/__pycache__
/chat-assistant-backend/app/services/__pycache__
/chat-assistant-backend/venv
/chat-assistant-backend/api_requests.log